@charset "UTF - 8";

/*Estilo para impressora*/

* {
 margin: 10px;
 padding: 10px;
}

html {
 font-family: 'Courier New', Courier, monospace;
 font-size: 1em;
 line-height: 1em;
}

menu {
 display: none;
}

article {
  width: 100%;  
}

article::after {
content: 'Esse curso foi impresso pelo site www.cursoemvideo.com.br/noticia';
}